.campaign-container {
  border: 1px solid red;
  border-bottom: none;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 150px;
  padding: 1rem;
}
.campaign-container:last-child {
  border-bottom: 1px solid red;
}

.campaign-avatar {
  background-color: green;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.campaign-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}

.campaign-content > h2 {
  margin: 0;
  padding: 0;
  line-height: 3rem;
}
.campaign-content > p {
  margin: 0;
  padding: 0;
  line-height: 1rem;
  font-size: 1rem;
}

.point-range__number {
  font-size: 1.5rem;
}
